In [1]:
from platform import python_version

print(python_version())

3.10.12

In [8]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

## Load Data

In [6]:
df = pd.read_csv('dados/dados_clientes.csv')

In [7]:
df.head(2)

   id  idade  renda_anual  pontuacao_gastos
0   1     56        94740                90
1   2     69       136352                50

## EDA

In [ ]:
df.describe().round(2)

           id   idade  renda_anual  pontuacao_gastos
count  500.00  500.00       500.00            500.00
mean   250.50   44.73     81557.17             48.51
std    144.48   15.24     36764.38             29.56
min      1.00   18.00     20384.00              0.00
25%    125.75   32.00     49172.75             24.00
50%    250.50   45.00     79219.00             48.50
75%    375.25   57.00    113017.25             73.25
max    500.00   70.00    149695.00            100.00

In [14]:
df.shape

(500, 4)

In [12]:
df.isnull().sum()

id                  0
idade               0
renda_anual         0
pontuacao_gastos    0
dtype: int64

## Data Pre-processing

In [15]:
stadardizer = StandardScaler()

In [17]:
stanrdardizer_data = stadardizer.fit_transform(df[[ 'idade', 'renda_anual', 'pontuacao_gastos']])

In [18]:
print(stanrdardizer_data[:2])

[[0.74012478 0.35893538 1.40506904]
 [1.59401387 1.49192537 0.05039391]]